.toast{
    position: absolute;
    top: 0;
    right: 0;
    animation: move-right 2s cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    
}
.hidden-toast{
    animation: hidden- 2s ;
}
.container{
    position: relative;
}

@keyframes move-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
}

@keyframes hidden- {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
    }
}

  